<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Zoupon -Filling your life with great deal-
	</title>	
</head>

	<body>
		<div id="header" class="container-fluid">
			<h1 align="middle"> Zoupon </h1>
		</div>

		<div id="main-container" class="container-fluid">
			<div id="sidebar" class="col-xs-3">

			<table class="table table-bordered">
				<tr> <td><%= link_to 'Things to do', :controller => "welcome", :search => "things to do" %></td> </tr>
				<tr> <td><%= link_to 'Beauty and Spas', :controller => "welcome", :search => "food" %></td></tr>
				<tr> <td><%= link_to 'Food and Drinks', :controller => "welcome", :search => "food" %></td></tr>
				<tr> <td><%= link_to 'Electronics', :controller => "welcome", :search => "electronics" %></td></tr>
				<tr> <td><%= link_to 'Travel', :controller => "welcome", :search => "travel" %></td></tr>
			</table>

			</div>
			<div id="main-content" class="col-xs-9">

				<p id="notice"><%= notice %></p>
				<table class="table table-bordered">
					<tr> 
						<th> Image </th>
						<th> Title </th> 
						<th> Price </th>
						<th> Sale </th>
						<th>  </th>
					</tr>

					<%if @products.blank? %>
						<p> Product cant be found </p>
					<%end%>

					<% @products.each do |product| %>
					<tr>
						<td><%= image_tag(product.image_url, width:"32", height:"16", alt: "Edit Entry") %> </td>
						<td><%= product.title.humanize %> </td>
						<td><%= number_to_currency product.price %> </td>
						<td><%= number_to_currency product.sale %> </td>
						<td><%= button_to 'Add to Cart', line_items_path(product_id: product) %></td>
					</tr>
					<% end %>

				</table>



			</div>
		</div>
	</body>

</html>

